<script lang="ts">
import Vue from 'vue';
import TeamOpsFeaturesAccordion from './team-ops-features-accordion.vue';

export default Vue.extend({
  name: 'TeamOpsFeatures',
  components: {
    TeamOpsFeaturesAccordion,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      isOpenIndex: 0 as any,
    };
  },
});
</script>
<template>
  <section class="team-ops-accordion">
    <div class="">
      <SlpContainer>
        <SlpTypography tag="h2" variant="heading2-bold slp-mb-64">
          <div v-html="$md.render(data.title)"></div>
        </SlpTypography>
        <SlpRow>
          <SlpColumn :cols="5">
            <div class="team-ops-accordion__image">
              <nuxt-img
                :src="data.image.url"
                :alt="data.image.alt"
                loading="lazy"
              />
            </div>
          </SlpColumn>
          <SlpColumn :cols="1"> </SlpColumn>
          <SlpColumn class="team-ops-accordion__accordion-wrapper">
            <TeamOpsFeaturesAccordion
              :data="data.accordion"
              class="team-ops-accordion__accordion"
            />
          </SlpColumn>
        </SlpRow>
      </SlpContainer>
    </div>
  </section>
</template>

<style lang="scss" scoped>
@import 'assets/css/animations';
.team-ops-accordion {
  padding: $spacing-48 0;
  overflow: hidden;
  @media (min-width: $breakpoint-md) {
    padding: $spacing-96 0;
  }
  &__image {
    img {
      width: 100%;
    }
  }

  &__accordion {
    &:deep .content-container {
      @media (max-width: $breakpoint-md) {
        padding-bottom: $spacing-16;
      }
    }
  }
  &__accordion-wrapper {
    margin-top: $spacing-32;
    @media (min-width: $breakpoint-md) {
      margin-top: 0;
    }
  }
}
</style>
