<script>
export default {
  name: 'SingleQuote',
  props: {
    link: {
      type: String,
      default: null,
      required: false,
    },
    name: {
      type: String,
      default: null,
      required: false,
    },
    title: {
      type: String,
      default: null,
      required: false,
    },
    headshot: {
      type: String,
      default: null,
      required: false,
    },
    index: {
      type: Number,
      required: true,
      default: null,
    },
    quote: {
      type: String,
      default: null,
      required: true,
    },
  },
};
</script>

<template>
  <figure class="quote">
    <div class="quote__inner">
      <nuxt-img
        class="quote__inner__image"
        :src="headshot"
        :alt="`${name} headshot`"
        loading="lazy"
      />
      <div class="quote__inner__bg"></div>
    </div>
    <figcaption>
      <p class="quote__mark">&ldquo;</p>
      <SlpTypography tag="p" variant="body1" class="quote__text">{{
        quote
      }}</SlpTypography>
      <SlpTypography tag="p" variant="body2" class="quote__attribution">
        &mdash; {{ name }}, <a :href="link">{{ title }}</a>
      </SlpTypography>
    </figcaption>
  </figure>
</template>

<style lang="scss" scoped>
.quote {
  margin-bottom: 48px;
  width: 50%;

  @media (min-width: $breakpoint-lg) {
    width: 30%;
  }
}

.quote__inner {
  position: relative;
  width: 91.6666%;

  &__image {
    border-radius: 0.25rem;
    margin-bottom: 28px;
    width: 100%;
  }
}

.quote__inner__bg {
  border-radius: 0.25rem;
  position: absolute;
  width: 100%;
  height: calc(100% - 28px);
  background-color: #b37de6;
  opacity: 0.1;
  right: -12px;
  bottom: 16px;
  z-index: -1;
}

figcaption {
  color: #333;
}

.quote__mark {
  font-size: 70px;
  color: #7d2bd9;
  line-height: 0;
  margin: 24px 0;
}
.quote__text {
  font-style: italic;
  margin-bottom: 16px;
}

.quote__attribution {
  a {
    color: #7d2bd9;
  }
}
</style>
