<script lang="ts">
import Vue from 'vue';
import { Accordion } from '../index.vue';

export default Vue.extend({
  name: 'BySolutionBenefits',
  components: { Accordion },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
    offset: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  data() {
    return {
      isOpenIndex: 0 as any,
    };
  },
  methods: {
    toggleController(index: number) {
      if (this.isOpenIndex === index) {
        this.isOpenIndex = null;
        return;
      }
      this.isOpenIndex = index;
    },
  },
});
</script>

<template>
  <section class="by-solution-benefits slp-py-48 slp-py-md-96">
    <SlpContainer>
      <SlpRow>
        <SlpColumn v-if="offset !== 0" :cols="offset" />
        <div class="slp-mb-16 slp-mb-md-64">
          <SlpTypography tag="h2" variant="heading2-bold" class="slp-mb-8">
            <span
              :data-aos="data.header_animation"
              :data-aos-duration="data.header_duration"
              >{{ data.title }}</span
            >
          </SlpTypography>
        </div>
      </SlpRow>

      <SlpRow class="by-solution-benefits__row">
        <SlpColumn v-if="offset !== 0" :cols="offset" class="offset" />
        <SlpColumn
          :cols="offset ? 6 - Math.ceil(offset / 2) : 6"
          class="slp-pr-md-16"
        >
          <div v-if="data.video" class="by-solution-benefits__video">
            <iframe
              :src="data.video.video_url"
              frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture"
              allowfullscreen
            />
          </div>
          <div v-else class="by-solution-benefits__container">
            <nuxt-img
              class="by-solution-benefits__image"
              :src="data.image.image_url"
              alt=""
              aria-hidden="true"
              :data-aos="data.left_block_animation"
              :data-aos-duration="data.left_block_duration"
              loading="lazy"
            />
          </div>
        </SlpColumn>
        <SlpColumn
          :cols="offset ? 6 - Math.ceil(offset / 2) : 6"
          class="slp-pl-md-16"
          size="lg"
        >
          <div
            :data-aos="data.right_block_animation"
            :data-aos-duration="data.right_block_duration"
          >
            <div
              v-if="data.is_accordion"
              class="by-solution-benefits__items-wrapper"
            >
              <Accordion
                v-for="(item, index) in data.items"
                :key="item.header"
                :data="item"
                :is-open="isOpenIndex == index"
                @toggleController="toggleController(index)"
              />
            </div>
            <div v-else class="by-solution-benefits__items-wrapper">
              <div
                v-for="(item, index) in data.items"
                :key="item.header"
                class="slp-pb-16 slp-mb-32"
                :class="{
                  'by-solution-benefits__items-w-border':
                    index !== data.items.length - 1,
                }"
              >
                <SlpTypography
                  tag="h3"
                  variant="heading5"
                  class="by-solution-benefits__header"
                >
                  <SlpIcon
                    v-if="item.icon"
                    class="by-solution-benefits__icon"
                    :name="item.icon.name"
                    :alt="item.icon.alt"
                    :variant="item.icon.variant"
                    size="md"
                  />
                  {{ item.header }}
                </SlpTypography>
                <SlpTypography variant="body1" tag="p" v-html="item.text" />
              </div>
            </div>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.by-solution-benefits {
  &__row {
    width: 100%;
  }

  &__container {
    position: relative;
    margin-bottom: $spacing-48;

    .by-solution-benefits__image {
      max-width: 450px;
      width: 100%;
    }
  }

  &__video {
    position: relative;
    padding: 56.25% 0 0 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__items-wrapper {
    max-width: 540px;
    width: 100%;

    @media (max-width: 1169px) {
      max-width: 100%;
    }
  }

  &__icon {
    margin-right: $spacing-default;
  }

  &__header {
    display: flex;
    align-items: center;
    font-weight: $font-weight-bold;
    padding-bottom: $spacing-16;
    margin-bottom: $spacing-4;
  }

  &__items-w-border {
    border-bottom: 1px solid $color-surface-200;
  }
}
.offset {
  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}
</style>
